<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/shop</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.username">root</property>
        <property name="connection.password">7001</property>
        <property name="show_sql">true</property>
       <property name="hibernate.show_sql">true</property>
        <property name="format_sql">true</property>
        

        <mapping class="by.zimin.hibernate.entity.Buckets"/>
        <mapping class="by.zimin.hibernate.entity.BucketsProducts"/>
        <mapping class="by.zimin.hibernate.entity.Categories"/>
        <mapping class="by.zimin.hibernate.entity.Orders"/>
        <mapping class="by.zimin.hibernate.entity.OrdersDetails"/>
        <mapping class="by.zimin.hibernate.entity.Products"/>
        <mapping class="by.zimin.hibernate.entity.ProductsCategories"/>
        <mapping class="by.zimin.hibernate.entity.Users"/>

        <!-- DB schema will be updated if needed -->
<!--         <property name="hibernate.hbm2ddl.auto">update</property>-->
    </session-factory>
</hibernate-configuration>