# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\HibernateSpring\Spring projects\Hibernate2021\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
